<md-toolbar class="md-medium-tall md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="navigate back">
            <ng-md-icon icon="arrow_back" style="fill: #fff;" ui-sref="index"></ng-md-icon>
        </md-button>
        <h1>Interpolation</h1>
    </div>
</md-toolbar>
<div>
<form layout="column">
    <md-input-container>
        <label>Template (use a <code ng-non-bindable>{{variable}}</code>)</label>
        <textarea name="template" ng-model="interpolation.template"></textarea>
    </md-input-container>
    <md-input-container>
        <label>Variable</label>
        <input name="var" type="text" ng-model="interpolation.variable" placeholder="variable">
    </md-input-container>
</form>
<h4>Result:</h4>
<pre>{{ interpolation.preview }}</pre>
</div>