<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <base href="/webpack-dev-server">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <!--<meta rel="icon" href="favicon.ico" type="image/x-icon"/>-->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
</head>
<body ng-app="app" ng-cloak ng-strict-di>
<div ng-controller="StatusController">Angular works: {{ vm.works === 1 }} (elapsed time: {{ vm.elapsedSec | number: 1 }} s)</div>
<md-content id="view-container"><ui-view></ui-view></md-content>
<% for (var chunk in htmlWebpackPlugin.chunks) { %>
<script src="<%= htmlWebpackPlugin.chunks[chunk]%>"></script>
<% } %>
</body>
</html>