<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <base href="/">
</head>
<body ng-app="app" ng-cloak>
<div ng-controller="StatusController">Angular works: {{ vm.works === 1 }} (elapsed time: {{ vm.elapsedSec | number: 1 }} s)</div>
<div id="view-container"><ui-view></ui-view></div>
<% for (var chunk in htmlWebpackPlugin.chunks) { %>
<script src="<%= htmlWebpackPlugin.chunks[chunk]%>"></script>
<% } %>
</body>
</html>